
.wrapper {  
    /* margin-left: calc(50vw - 160px);
    max-height: 250px;
    max-width: 300px; */
}

.linksBox {
    /* overflow-y: scroll; */
    max-height: 250px;
    /* display: inline; */
    display: inline-block;
}


.infoBox {
    background-color: rgb(85, 0, 0);
    width: 600px;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: inline-block;
  }