.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* background: linear-gradient(3deg, rgba(55,7,7,0.96) 10%, rgba(1,1,14,1) 81%); */
  /* background:  linear-gradient(3deg, rgb(209 203 203 / 96%) 10%, rgb(87 73 73) 81%);  */
  background:  linear-gradient(3deg, rgb(230 218 218 / 96%) 10%, rgb(48 0 0) 81%);
  min-height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
